* {
    box-sizing: content-box;
}

.faq-container {
    display: flex;
    gap: 132px;
    width: 1168px;
    height: 344px;
    flex-shrink: 0;
    margin-top: 100px;
    margin-left: 136px;
    margin-right: 136px;
    
}

.faq h1 {
    color: #000;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px; 
    margin-bottom: 16px;
}

.faq p {
    color: #000;
    width: 368px;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.accordion {
    border-radius: 0 !important;
}

.accordion-header {
    width: 629px !important;
    margin-bottom: 16px !important;
    height: 56px !important;   
    border-radius: 4px !important;
}

.accordion-header-5 {
    width: 629px !important;
    margin-bottom: -16px !important;
}

.accordion-button {
    color: #000 !important;
    font-family: Arial !important;
    font-size: 14px !important;
    font-style: normal !important;
    font-weight: 700 !important;
    line-height: 20px !important;
    border: 1px solid #D4D4D4 !important;
}

@media screen and (min-width: 768px) {
.faq-container {
    display: flex;
    flex-direction: row;
    }
}