* {
    margin: 0;
    padding: 0;
}

.carousel-container {
    height: 438px;
    flex-shrink: 0;
    margin-top: 100px;
}

.carousel-container .testimonial-title {
    width: 468px;
    color: #000;
    text-align: center;
    font-family: Arial;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 36px;
    margin: auto;
    margin-bottom: 16px;
}

.carousel-container .testimonial-review {
    width: 468px;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    margin: auto;
}

.carousel-card-container {
    display: flex;
    justify-content: space-between;
}

.carousel-card {
    display: flex;
    gap: 46px;
    width: 619px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 109px;
}


.carousel-card-2 {
    display: flex;
    gap: 46px;
    width: 619px;
    height: 270px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F1F3FF;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.15);
    margin: auto;
    margin-top: 109px;
}

.rating img {
    margin-bottom: 8px;
}

.rating .testimony {
    width: 415px;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; 
    margin-bottom: 8px;
    }

.rating .testimonial-submiter-1 {
    width: 415px;
    color: #000;
    font-family: Arial;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 20px;
}
